---
import Layout from "../layouts/Layout.astro";
import Paragraph from "../components/landing/Paragraph.astro";
import WaitlistForm from "../components/WaitlistForm";
import "../styles/global.css";

export const prerender = true;
---

<Layout>
  <main class="text-white text-lg leading-5">
    <div class="min-h-[calc(95vh-60px)] flex flex-col">
      <div class="flex-1 flex flex-col lg:justify-center">
        <div class="py-5 pb-0 container xl:text-center">
          <h1 class="text-6xl md:text-7xl font-bold mb-8">
            A Talent Manager for Every Creator
          </h1>
          <p class="text-2xl md:text-3xl mb-4 text-slate-200">
            <code>Repbot</code> does 80% of what a talent manager does - <b
              ><i>without</i></b
            >
             taking a 20% commission on your brand deals.
          </p>
          <p class="text-2xl md:text-3xl mb-4 text-slate-200">
            We qualify your inbound leads, negotiate better rates, and help you
            spend more time on the creative part of being a creator.
          </p>
        </div>
        <div class="py-10 container xl:flex xl:flex-col xl:items-center">
          <h3 class="text-xl uppercase font-bold mb-4">👇 Join The Waitlist</h3>
          <WaitlistForm client:load />
        </div>
      </div>
      <div class="container mb-5 font-bold text-slate-300">
        We exist to help you...
      </div>
    </div>
    <div class="container py-6 flex flex-col justify-center mb-12 mt-2">
      <h2 class="text-4xl font-bold mb-4">
        👋 Say Goodbye to Sh*t Affiliate Deals from Russian Mobile Game
        Spammers.
      </h2>
      <Paragraph>
        <code>Repbot</code> asks brands for the important deal details <i
          >upfront</i
        >. This enables you to filter out the noise when viewing your inbox.
      </Paragraph>
      <Paragraph>
        No more wasting time scouring the internet trying to see if a company or
        product is legit. And if you never want to see another affiliate deal in
        your life, hiding them is just a click away.
      </Paragraph>
    </div>
    <div class="container py-6 mb-12">
      <h2 class="text-4xl font-bold mb-4">
        💪 Maximize Your Sponsorship Revenue with a Ruthless, Informed
        Negotiator.
      </h2>
      <Paragraph>
        <code>Repbot</code> automatically negotiates higher rates from brands on
        your behalf. You tell us your minimum rate and social stats, and we'll
        use previous deal data to get you the best offer possible.
      </Paragraph>
      <Paragraph>
        Brands can still submit offers below industry standard and you can still
        take them - our goal in negotiation is simply to advocate for fair pay.
      </Paragraph>
    </div>
    <div class="container py-6 mb-12">
      <h2 class="text-4xl font-bold mb-4">
        👀 Compare Deals at a Glance, Accept the Best Fit, & Get Back to Work.
      </h2>
      <Paragraph>
        <code>Repbot</code> give you an easy way to read and review your inbound
        brand deals. When one catches your eye, all you have to do is hit
        "Reply".
      </Paragraph>
      <Paragraph>
        Then, we get out of the way and let you handle communication,
        contracting, invoicing and payment with the tools you already use to run
        your business.
      </Paragraph>
    </div>
    <div class="container py-6 mb-12">
      <h2 class="text-4xl font-bold mb-4">🔥 Fire Us Whenever.</h2>
      <Paragraph>
        <code>Repbot</code> exists so that you never have to sign with a manager
        that will take 15% of your business in exchange for barely managing your
        email inbox. But if better representation comes along, we want you to
        take it.
      </Paragraph>
      <Paragraph>
        No fees. No contractural obligations. No early exit clauses.
      </Paragraph>
    </div>
  </main>
</Layout>

<style>
  main {
    text-wrap: balance;
  }
</style>
