---
import Layout from "../layouts/Layout.astro";
import Paragraph from "../components/landing/Paragraph.astro";
import Hero from "../components/landing/Hero.astro";
import FAQ from "../components/landing/FAQ.tsx";
import WaitlistForm from "@/components/WaitlistForm";
import Affiliate from "@/components/landing/Russian";
import "@/styles/flag.css";

export const prerender = true;
---

<Layout>
  <main class="dark:text-white text-lg">
    <Hero />
    <div class="flex flex-col gap-10 mb-10 md:gap-[25vh] md:mb-[25vh]">
      <div
        class="container py-6 flex flex-col justify-center mt-2 wrap-balance"
      >
        <div class="flex flex-col gap-6 md:flex-row md:items-start">
          <div class="md:flex-1">
            <h2 class="text-5xl font-bold mb-4">
              👋 Say Goodbye to Sh*t Deals from Russian Spammers and NFT
              Grifters.
            </h2>
            <Paragraph>
              <code>Repbot</code> asks brands for the important details <i
                >upfront</i
              >. This enables you to filter out the noise when viewing your
              inbound offers.
            </Paragraph>
            <Paragraph>
              We automatically flag potential spam and let you filter by price,
              date and deal type.
            </Paragraph>
          </div>
          <div class="md:flex-1 w-full md:max-w-[32rem] md:min-w-[20rem]">
            <Affiliate client:load />
          </div>
        </div>
      </div>
      <div class="container py-6 wrap-balance">
        <h2 class="text-5xl font-bold mb-4">
          💪 Maximize Your Sponsorship Revenue with a Ruthless, Informed
          Negotiator.
        </h2>
        <Paragraph>
          <code>Repbot</code> automatically negotiates higher rates from brands
          on your behalf. You tell us your minimum rate and social stats, and
          we'll use previous deal data to get you the best offer possible.
        </Paragraph>
        <Paragraph>
          Brands can still submit offers below industry standard and you can
          still take them - our goal in negotiation is simply to advocate for
          fair pay.
        </Paragraph>
      </div>
      <div class="container py-6 wrap-balance">
        <h2 class="text-5xl font-bold mb-4">
          ⚖️ Compare Deals at a Glance, Accept the Best Fit, & Get Back to Work.
        </h2>
        <Paragraph>
          <code>Repbot</code> gives you an easy way to read and review your
          inbound brand deals. When one catches your eye, all you have to do is
          hit "Reply".
        </Paragraph>
        <Paragraph>
          Then, we get out of the way and let you handle communication,
          contracting, invoicing and payment with the tools you already use to
          run your business.
        </Paragraph>
      </div>
      <div class="container py-6 wrap-balance">
        <h2 class="text-5xl font-bold mb-4">🔥 Fire Us Whenever.</h2>
        <Paragraph>
          <code>Repbot</code> exists so that you never have to sign with a
          manager that will take 15% of your business in exchange for barely
          managing your email inbox. But if better representation comes along,
          we want you to take it.
        </Paragraph>
        <Paragraph>
          <b>No fees. No contractural obligations. No early exit clauses.</b>
        </Paragraph>
      </div>
    </div>
    <div
      class="bg-slate-800 text-white dark py-32 px-4 md:px-8 flex flex-col items-center gap-6"
    >
      <h1
        class="text-5xl lg:text-6xl font-bold text-center wrap-balance max-w-4xl"
      >
        🥊 We All Deserve Someone In Our Corner.
      </h1>
      <h3 class="text-2xl text-center wrap-balance text-slate-200">
        Join a coop that's fighting for a fairer deal.
      </h3>
      <div class="w-full flex justify-center mt-4">
        <WaitlistForm client:visible />
      </div>
    </div>
    <div class="py-6 container my-20" id="faq">
      <h2 class="text-4xl font-bold mb-4">🤔 FAQs</h2>
      <FAQ client:visible />
    </div>
  </main>
</Layout>

<style is:global>
  .wrap-balance {
    text-wrap: balance;
  }
  .container {
    @apply max-w-7xl;
  }
</style>
