---
import { DISCORD_LINK, GITHUB_LINK } from "@/constants";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Repbot</title>
  </head>
  <body class="dark:bg-slate-900 bg-slate-100 dark:text-white">
    <nav
      class="min-h-[60px] lg:min-h-[70px] border-b border-slate-400 flex items-center container font-mono text-sm"
    >
      <div class="flex-1"><a href="/">Repbot</a></div>
      <div class="flex items-center gap-6">
        <!-- <a href="/about">about</a> -->
        <!-- <a href="/roadmap">roadmap</a> -->
        <a
          href={DISCORD_LINK}
          target="_blank"
          class="py-3 hover:underline hover:opacity-80">discord</a
        >
      </div>
    </nav>
    <slot />
    <footer
      class="text-center min-h-[40px] font-mono text-sm py-4 dark:bg-slate-800"
    >
      Made with ❤️ by some internet radicals.
    </footer>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
