---
import { DISCORD_LINK, GITHUB_LINK } from "@/constants";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Repbot</title>
  </head>
  <body class="dark:bg-slate-900 bg-slate-100 dark:text-white">
    <nav
      class="min-h-[60px] lg:min-h-[70px] border-b border-slate-400 flex items-center container font-mono text-sm md:text-base"
    >
      <div class="flex-1">
        <a href="/" class="flex items-center gap-2 md:gap-3"
          ><div>
            <svg
              width="30"
              viewBox="0 0 404 339"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M115.667 337.45C82.6838 331.82 56.864 306.352 40.6667 278.323C40.8444 278.189 72.6246 273.066 76.5172 281.269C90.279 298.683 111.601 313.266 134.709 310.244C161.331 303.767 179.21 281.139 198.68 263.53C212.745 250.416 228.007 235.714 247.773 232.907C271.459 232.755 295.144 232.603 318.83 232.452C316.402 242.283 311.501 251.236 306.909 260.192C287.113 260.737 266.997 260.01 247.399 261.346C224.025 273.129 208.616 295.473 188.302 311.393C168.689 328.928 142.749 343.05 115.667 337.45ZM200.362 319.926C207.341 313.398 214.139 306.674 221.329 300.375C236.282 309.603 254.924 313.811 271.865 307.95C299.777 299.333 318.05 273.414 328.629 247.45C341.931 213.886 344.999 176.949 341.193 141.264C336.537 104.077 322.36 65.5543 292.387 41.4788C253.69 11.4302 230.264 43.5934 224.126 32.789C218.356 27.6629 212.713 22.3892 206.611 17.6531C224.756 5.21685 247.029 -3.07524 269.212 1.08466C302.229 6.98216 328.38 32.2708 344.347 60.6464C360.775 89.516 368.924 122.81 370.293 155.846C370.617 176.119 370.605 196.453 366.398 216.392C359.273 254.646 342.62 293.18 311.684 318.029C294.658 331.441 273.228 339.585 251.401 338.314C232.905 338.28 215.506 329.947 200.362 319.926ZM120.853 263.5L0 263.174V235.151C45.0924 235.505 90.3307 234.973 135.332 235.88C151.998 240.544 164.838 252.703 177.412 263.958C171.433 270.934 163.999 277.038 156.94 283.089C146.375 273.876 136.043 262.13 120.853 263.5ZM377.393 232.494L399.667 232.859L400.027 260.526H368.556C371.798 251.286 374.98 241.993 377.393 232.494ZM20.3353 114.006C20.9438 113.442 54.4064 106.92 47.781 119C39.7181 154.049 41.0532 192.626 48.1447 221.193H19.5161C15.1085 198.52 10.0571 160.584 20.3353 114.006ZM142.216 210.276C131.601 207.019 126.333 197.506 126.333 184.712C126.642 172.035 125.721 159.083 126.781 146.572C130.078 135.926 140.917 129.242 151.874 130.457C159.576 131.267 166.416 136.996 169.837 143.643C174.263 156.159 172.973 169.783 173.772 182.82C173.772 191.66 170.271 200.532 163.278 206.345C157.292 210.881 149.434 212.296 142.216 210.276ZM236.216 210.276C225.601 207.019 220.333 195.893 220.333 184.712C220.643 172.035 219.721 159.083 220.78 146.572C224.078 135.926 234.917 129.243 245.874 130.457C253.568 131.25 260.257 136.946 263.81 143.516C266.72 154.377 267.667 168.122 267.667 177.513C267.701 186.736 267.221 197.264 259.42 204.021C253.975 210.625 244.148 212.476 236.216 210.276ZM195.784 63.845C177.221 46.9018 156.043 28.3882 129.577 27.7796C109.344 28.4846 91.0125 39.5683 78.0656 54.6772C75.0221 57.284 41.3912 58.6745 44.204 53.8084C56.4424 34.3773 73.289 16.942 94.7754 7.9835C118.923 -3.62422 148.642 -2.18711 171.838 11.2096C201.375 25.9704 221.702 53.2409 248.333 72.014C263.74 77.6997 286.901 75.1838 304.017 75.1912C309.959 83.8116 314.2 93.4633 317.981 103.191C299.151 102.879 254.912 103.706 249.262 102.336C227.447 95.9902 212.253 78.4094 195.784 63.845ZM367.191 75.1926H403.333V103.193H376.625C373.663 93.8045 370.735 84.3835 367.191 75.1926ZM6.75351 70.5259H136.617C146.677 67.6811 154.372 59.6989 162.816 54.5259C170.1 60.2639 177.492 65.8737 184.216 72.277C171.036 83.3807 156.67 95.6932 139.173 98.1969C94.1155 98.3186 49.0578 98.4403 4.00006 98.5616C4.97635 91.2827 3.98863 75.3145 6.75351 70.5259Z"
                fill="currentColor"></path>
            </svg>
          </div>Repbot</a
        >
      </div>
      <div class="flex items-center gap-6 lowercase">
        <!-- <a href="/about">about</a> -->
        <!-- <a href="/blog">blog</a> -->
        <a href="#faq" class="py-3 hover:underline hover:opacity-80">faqs</a>
        <a
          href={DISCORD_LINK}
          target="_blank"
          class="py-3 hover:underline hover:opacity-80">chat</a
        >
      </div>
    </nav>
    <slot />
    <footer
      class="text-center min-h-[40px] font-mono text-sm py-4 dark:bg-slate-800"
    >
      Made with ❤️ by some internet radicals.
    </footer>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
